/* Pricing Section */
.pricing-section {
  background-color: #f7f6f0;
}

.card-price {
  font-size: 2rem;
  font-weight: bold;
}

.card-price small{
  color: gray;
  font-size: 15px;
}

.price-button{
  padding: 12px;
}
